.contenedor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "titulo"
                        "imagenes"
                        "fondo";
}
/* Cabecera */

.titulo {
    background-color: aquamarine;
    grid-area: titulo;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "nombre nombre panel-navegacion";
}
.nombre {
    grid-area: nombre;
    text-align: center;
}
.panel-navegacion {
    grid-area: panel-navegacion;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: beige;
    margin: 10px
}
.panel-navegacion span {
    margin: 5px;
    padding: 5px;
    border-style: solid;
}

/* Cuerpo */
.imagenes {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "v1 v3"
                        "v2 v2"
                        "v4 v4";
}
.viviendas {
    background-color: coral;
    border-style: solid;
    max-width: 300px;
    height: 100px;
}


.v1 {
    grid-area: v1;
}
.v2 {
    grid-area: v2;
}
.v3 {
    grid-area: v3;
}
.v4 {
    grid-area: v4;
}

/* Pie */